body{
    background: url("../images/grey_wash_wall.png") repeat ;
}
#first-page{
    background: url("../images/Homer_Simpson.jpg") no-repeat white center;
}
#first-page-title{
    position: absolute;
    bottom: 10;
    text-align: center;
}